* {
  font-size: medium;
  background-color:#2c2b2b ;
  color: #e6d7d7;
}

table {
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-collapse: collapse;
}

td, th {
  padding: 5px;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}

tr:nth-child(2) {
  background-color: #c1f5f7;
}